- if messages.any?
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th From
        %th Subject
        %th Message
        %th Recived at
        %th
    %tbody
      - messages.each do |message|
        %tr{:class => ('info' if message.unread? current_user), :id => dom_id(message)}
          %td= link_to message.sender.name, '#'
          %td=truncate message.subject, :length => 50
          %td=truncate message.body, :length => 100
          %td=l message.created_at, :format => :short
          %td.actions
            = link_to message, :class => 'btn btn-small btn-primary message-read', :remote => true, :data => {:type => :script, :id => message.id} do
              %i.icon-envelope.icon-white
            = link_to message, :class => 'btn btn-small btn-danger message-delete', :method => :delete, :remote => true, :data => {:id => message.id}, :confirm => 'Are you sure to delete message?' do
              %i.icon-remove.icon-white
- else
  %h2.center There is no incoming messages yet
