- if messages.any?
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th.span2 Subject
        %th.span2 To
        %th.span4 Message
        %th.span2 Sent at
    %tbody
      - messages.each do |message|
        %tr{:id => dom_id(message), :class => 'message-item'}
          %td.subject=truncate message.subject, :length => 50
          %td.recipients
            =raw message.recipients.map{|recipient| recipient.user.name}.join(', ')
          %td.body=simple_format message.body, :length => 100
          %td=l message.created_at, :format => :short
- else
  %h2.center There is no sent messages yet
