.bundle
.DS_Store
.powrc
.project
.rbenv-version
.rvmrc
.sass-cache
.idea
config/database.yml
config/environments/*.local.yml
config/settings.local.yml
config/settings/*.local.yml
db/*.sqlite3
log/*.log
public/assets
public/system/events/attached_files
public/system/profiles/photos
public/uploads
tmp
vendor/bundle/
