<div class="navbar navbar-inverse navbar-fixed-top">
		<div id="nav" class="navbar-inner">
			<div class="container" style='width:95%'>
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a href="/" class="brand" style='margin-left:5%'>Home</a>
				<div class="nav-collapse">
			
					<ul class="nav pull-right">
						<li style="font-size:16px"><a href=<%= new_user_session_path %>>Sign In</a></li>
						<li style="font-size:16px"><a href=<%= new_user_registration_path %>>Sign up</a></li> 
					</ul>
				</div>
			</div>
		</div>
</div>
