<!DOCTYPE html>
<html>
<body>
<div class="container">

  <div class="row">
    <br/>
    <div class="offset1 span10 center">
      <%= image_tag("atlogo.png", alt: "Message") %>
    </div>

    <div class ='span12 center'>
      <br><br>
      <h2>You should sign in first</h2>
    </div>
  </div>
</div>
</body>
</html>